/*Set up body*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
}
/*------------  ------------*/
/*------------ Centering Div ------------*/

.container{
    position: relative;
    left: 50vw;
    top: calc(50vh - 70px);
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
}

/*------------ Clickable Div with Response text ------------*/

.response_div{
    height: 140px;
    width: 425px;
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px black;
}

.response_div:active{
    box-shadow: none;
}

/*-------- Input Box --------*/
#guess_input{
    width: 400px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 1.5em;
}

h1{
    margin: .5em;
}

#reprompt, #new-game, #your-score{
    display: none;
}

:focus{
    outline: none;
}

/*.game-board{*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*left: 50vw;*/
    /*top: 50vh;*/
    /*transform: translate(-50%, -50%);*/
/*}*/



/*
#reset{
    float: right;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 6px black;
    margin: 10px 0;
    font-size: 1.5em;
    padding: 4px 8px;
}*/
